In [1]:
#pip install yahoofinancials # if package is not installed, please uncomment to install
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from yahoofinancials import YahooFinancials

In [69]:
# select asset class, time period, frequancy 
assets = ['^IRX','SPY', 'QQQ', 'VWO', 'IDV', 'EWC','GEM']
yahoo_financials = YahooFinancials(assets)
data = yahoo_financials.get_historical_price_data(start_date='2006-04-01', 
                                                  end_date='2021-06-02', 
                                                  time_interval='monthly')

In [70]:
# format asset

df=pd.DataFrame()

for asset in assets:
    df[asset+'_P']=pd.DataFrame(data[asset]['prices'])['adjclose']
    df[asset+'_R']=df[asset+'_P'].pct_change(1)


rf=pd.DataFrame(data['^IRX']['prices']).drop('date', axis=1)
df['date']=rf['formatted_date']
df=df.set_index('date')

In [71]:
df

,^IRX_P,^IRX_R,SPY_P,SPY_R,QQQ_P,QQQ_R,VWO_P,VWO_R,IDV_P,IDV_R,EWC_P,EWC_R,GEM_P,GEM_R
date,,,,,,,,,,,,,,
2006-04-01,4.650,NaN,96.974480,NaN,36.847321,NaN,24.612864,NaN,23.553961,NaN,18.373472,NaN,23.971334,NaN
2006-05-01,4.715,0.013979,94.053520,-0.030121,34.179520,-0.072401,21.833601,-0.112919,23.349390,-0.008685,17.959595,-0.022526,23.224640,-0.031149
2006-06-01,4.860,0.030753,93.883881,-0.001804,34.135506,-0.001288,21.813240,-0.000933,23.910778,0.024043,17.553099,-0.022634,22.445713,-0.033539
2006-07-01,4.935,0.015432,94.721146,0.008918,32.687096,-0.042431,22.217070,0.018513,25.815596,0.079664,17.575268,0.001263,21.342842,-0.049135
2006-08-01,4.905,-0.006079,96.788200,0.021823,34.246593,0.047710,22.546230,0.014816,23.385431,-0.094136,18.292179,0.040791,21.073586,-0.012616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-01,0.035,-0.270833,377.882019,0.027805,313.380219,-0.001335,52.148872,0.015673,NaN,0.000000,31.972746,0.051307,NaN,0.000000
2021-03-01,0.013,-0.628571,393.747986,0.041987,318.358154,0.015885,51.711727,-0.008383,NaN,0.000000,33.841217,0.058439,NaN,0.000000
2021-04-01,0.003,-0.769231,415.939209,0.056359,337.598389,0.060436,52.703548,0.019180,NaN,0.000000,35.391655,0.045815,NaN,0.000000
2021-05-01,0.008,1.666667,418.670288,0.006566,333.543091,-0.012012,53.598854,0.016988,NaN,0.000000,37.637794,0.063465,NaN,0.000000
2021-06-01,0.040,4.000000,426.664124,0.019093,354.019318,0.061390,54.026611,0.007981,NaN,0.000000,37.041477,-0.015844,NaN,0.000000

In [68]:
# construct rebalance date
BDay = pd.date_range(start='2016-04-01', periods=9, freq='2QS')
BDay

DatetimeIndex(['2016-04-01', '2016-10-01', '2017-04-01', '2017-10-01',
               '2018-04-01', '2018-10-01', '2019-04-01', '2019-10-01',
               '2020-04-01'],
              dtype='datetime64[ns]', freq='2QS-JAN')